*{
    
}
body {
    background-color: rgb(13, 14, 20);
}

h1 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.MainNav {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.MainNav a {
    font-style: bold;
    font-size: 15px;
}
