body {
    background-color: rgb(13, 14, 20);
}

h1 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.MainNav {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px 0;
}
