body {
    background-color: rgb(236, 236, 236);

}



.MainNav {
    background-color: rgb(21, 21, 21);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.MainNav a {
    font-style: bold;
    font-size: 15px;
    
}

#landig h1{


    font-family: rival-sans, sans-serif;
    font-weight: 900;
    font-style: normal;
    height: 900px;
}




.services div {
   background-color: rgb(21, 21, 21);
   height: 900px;
}



#img-karusell {
    height: 900px;
}

#img-karusell img {
    position: relative;
    top: -100px;
    left: -300px;
    height: 800px;
}